
Luento2/Mittari/build/
Luento2/Mittari/*.user

Week1/BasicCppProject/build/
Week1/BasicCproject/build/

Week2/objectOrientedEsimerkki/build/
Week2/postilaatikko/build/
Week2/proseduralEsimerkki/build/

Week3/perinta_inheritance/build/
Week3/VirtualFunctionsExample/build/
Week3/yhteyssuhteet/build/

Week4/CompostionExample/build/
Week4/KertaustaViikon4Alussa/build/
Week4/Viikkotehtava4Ratkaisu/build/

Week6/TemplateEsimerkki2/build/
Week6/TemplateTesti/build/

Week7/mittari/build/
Week7/mittari_valmis/build/

Week8/QThreadEsimerkki/build/
Week8/Viikon7Kertausta/build/

QtOsa1/SimulaatoriEsimerkki/build/

PankkiSovellus/build/
HarjoitteluaViikkotehtavaa3Varten/build/