
Luento2/Mittari/build/
Luento2/Mittari/*.user

Week1/BasicCppProject/build/
Week1/BasicCproject/build/

Week2/objectOrientedEsimerkki/build/
Week2/postilaatikko/build/
Week2/proseduralEsimerkki/build/

Week3/perinta_inheritance/build/
Week3/VirtualFunctionsExample/build/
Week3/yhteyssuhteet/build/

Week4/CompostionExample/build/
Week4/KertaustaViikon4Alussa/build/

PankkiSovellus/build/
HarjoitteluaViikkotehtavaa3Varten/build/